$color-1 : #fff; // white
$color-2 : #2e2f33; // almost black

$color-3 : #2468AE; // dark blue
$color-4 : #76C6DD; // light blue
$color-5 : #52D1B2; // teal
$color-6 : #B5D177; // green
$color-7 : #E55302; // orange
$color-8 : #E5E5E5; // grey