<div class="grid-x grid-padding-x">
    <div class="cell medium-4">
        <div class="os-animation" data-animation="fadeInLeft">
            <img class="thumb" src="/assets/img/background-communication-cup.jpg" alt="computer keyboard">
        </div>
    </div>
    <div class="cell medium-8">
        <div class="os-animation" data-animation="fadeInUp">
            <p>You're a small business with a limited marketing budget and you're not even sure if you <em>need</em> a
                website. Why would you pay someone when you could use one of those website builders that you see
                advertised on television? Ask yourself this. Do you really want to spend your valuable time learning the
                ins and outs of one of those website editors, getting your new site up and running live on the internet,
                or messing around with code? Probably not. But hey, I get it. It's still a lot of money to shell out for
                something you aren't even sure you need. That's why I offer this basic plan.</p>
            <p>Let me tell you more. It's basic in the idea that it <em>isn't</em> built on a content management
                system (<a href="https://www.wordpress.org">WordPress)</a> with the ability
                to add plug-ins on a whim or sell your products through a shopping cart such as <a
                    href="https://woocommerce.com/">WooCommerce</a>. Rest assured, this package is powerful. If you
                choose this option, you will have a beautiful, functional, mobile responsive website built with the
                latest HTML5 and CSS3 that over time, will keep climbing up in Google rankings when we're all finished!
                Below is the nitty-gritty.
            </p>
            <h3 class="h4">Basic Plan Details:</h3>
            <ul>
                <li>Home Page with Image Slider or Large Banner</li>
                <li>Contact Us Page with a Form that sends to your email</li>
                <li>About Us Page</li>
                <li>2 more interior pages</li>
                <li>Mobile Responsive with Hamburger Navigation</li>
            </ul>
        </div>
    </div>
</div>