<div class="grid-x grid-padding-x">
    <div class="cell medium-4">
        <div class="os-animation" data-animation="fadeInLeft">
            <img class="thumb" src="/assets/img/apple-computer-design.jpg" alt="dual computer monitors">
        </div>
    </div>
    <div class="cell medium-8">
        <div class="os-animation" data-animation="fadeInUp">
            <p>If the <a href="/pricing/pro-pricing.html">pro pricing</a> theme options don't float your boat and
                you
                absolutely need to have a fully custom website then the premium option is for you. This option gives you
                all the bells and whistles of the pro pricing with the only difference being that I will need to do a
                little&hellip;or a lot of design work. But with that said, you will have more control of the "look" of
                the website if that's what you're after.</p>
            <p>Because this is a total "start from scratch" website, we will need to discuss your websites' needs
                further for me to be able to give a cost estimate.</p>
            <h3 class="h4">What You'll Get:</h3>
            <ul>
                <li>Website powered by Wordpress</li>
                <li>Mobile Responsive</li>
                <li>Custom Design</li>
                <li>WooCommerce Shopping Cart if needed</li>
                <li>More Control Over the Look &amp; Feel</li>
            </ul>
        </div>
    </div>
</div>