<div class="grid-x grid-padding-x">
    <div class="cell medium-4">
        <div class="os-animation" data-animation="fadeInLeft">
            <img class="thumb" src="/assets/img/computer-contemporary-display.jpg" alt="laptop">
        </div>
    </div>
    <div class="cell medium-8">
        <div class="os-animation" data-animation="fadeInUp">
            <p>So you're thinking about going pro? Excellent. Let me tell you about what you can expect when chosing the
                pro plan. With this option, you will have the ability to update your website on your own&hellip;without
                touching code. That's not the only difference though. With the pro plan, your website is build on the
                <a href="https://www.wordpress.org">WordPress</a> framework and you can expect all the same great HTML5,
                CSS3 and Mobile Responive options of the basic plan. Not only will you be able to
                update using a familiar WYSIWYG editor (think Microsoft Word editor) but you'll also be able to choose
                different page layout options, add plug-ins and widgets to your hearts' desire, sell your products with
                the ever popular <a href="https://www.woocommerce.com">WooCommerce</a> shopping cart, blog and much
                more!</p>
            <p>I've hand selected several theme options that you can choose from for a good starting point. Once a theme
                is chosen, I will install the database, download and install the theme and then style it to fit in with
                the look and feel of your company. All you have to do is provide the content. If the theme that you
                choose has something that you don't want, no problem. I'll remove it. Do you want the navigation below
                the hero image? No problem, I'll move move it. You have the ability to customize pretty much everything
                in the theme. These themes can be used "as-is" but more likely than not you'll want to make changes so
                just remember they are starting-points to get us up and running quickly, therefore saving me time and
                you money.
            </p>
            <h3 class="h4">Choose a Theme:</h3>
            <div class="grid-x grid-margin-x">
                <div class="cell small-6">
                    <ul>
                        <li><a href="https://demo.winningagent.com/agent-focused/" target="_blank">Agent Focused Pro<sup
                                    class="small">*</sup></a>
                        </li>
                        <li><a href="http://demo.appfinite.net/aspire/" target="_blank">Aspire Pro</a></li>
                        <li><a href="https://boss.designbybloom.co/" target="_blank">Boss Pro</a></li>
                        <li><a href="https://demo.seothemes.com/business-pro/" target="_blank">Business Pro</a></li>
                    </ul>
                </div>
                <div class="cell small-6">
                    <ul>
                        <li><a href="https://demo.studiopress.com/centric/" target="_blank">Centric Pro</a></li>
                        <li><a href="https://demo.9seeds.com/jessica/" target="_blank">Jessica Pro</a></li>
                        <li><a href="https://demo.maitheme.com/law/" target="_blank">Mai Law Pro</a></li>
                        <li><a href="https://maitheme.com/mai-lifestyle-pro/" target="_blank">Mai Lifestyle Pro</a></li>
                    </ul>
                </div>
            </div>
            <p class="small"><sup>*</sup>no shopping cart</p>
        </div>
    </div>
</div>