#options {
    color: $white;

    #fixed {
        background-image: url('../img/apple-business-computer.jpg');
    }

    .dark {
        padding: 2rem 0;
    }

    .feature {
        margin: rem-calc(36 0);

        span[class*=fa-] {
            color: $color-4;
        }
    }

}