.primary-nav {
    background: rgba(0, 0, 0, 0.4);
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 100%;
    z-index: 1000;

    img {
        width: rem-calc(360);
        transition: all .5s ease 0s;
    }

    &.solid {
        background: rgba($color-3, .8);
        padding: .75rem 2rem;
        transition: all .5s ease 0s;

        img {
            width: rem-calc(180);
            transition: all 1s ease 0s;
        }

        .menu {
            height: auto;
        }
    }

    .menu {
        @include flex-align(left, top);
        background-color: rgba($color-2, .5);
        margin-top: rem-calc(16);

        @include breakpoint(large) {
            background-color: transparent;
            display: flex !important;
            @include flex-align(right, middle);
            height: rem-calc(81);
            margin-top: initial;
        }

        li {
            flex: 0 1 auto;

            @include breakpoint(large) {
                margin-left: rem-calc(24);
            }
        }

        a {
            color: $white;
            text-transform: uppercase;

            @include breakpoint(large) {
                border-bottom: 3px solid transparent;
            }

            &:hover,
            &.is-active,
            &.selected {
                border-left: 10px solid $color-6;

                @include breakpoint(large) {
                    border-bottom: 3px solid $color-6;
                    border-left: 0;
                    transition: border-bottom-color 1s ease 0s;
                }
            }
        }
    }

    &.interior {
        background: $color-3;
        position: initial;
    }
}