#resume {
    padding-bottom: rem-calc(32);

    .resume {
        border: 1px solid $color-8;
        @include box-shadow(0, 0, 10px, rgba($color-2, .12));
        margin-bottom: rem-calc(48);
        padding: rem-calc(48 48 48 96);
        transition: transform 0.7s ease;

        &:hover {
            transform: scale(1.05);
        }
    }
}