<section id="about">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-padding-x">
            <div class="cell text-center general-info">
                {{> animated-title-and-underline}}
                <div class="os-animation" data-animation="fadeInUp">
                    <p>This is some text about me.</p>
                    <a href="#.pdf" class="button primary">Download My Resume</a>
                </div>
            </div>
        </div>
    </div>
    <div id="skills">
        <div class="cell text-center">
            <div class="os-animation" data-animation="fadeInDown">
                <h3 class="h3 page-title">Skills</h3>
                <p class="small">(On a 1-10 Scale)</p>
                <div class="heading-underline"></div>
            </div>
        </div>
        <div class="grid-container">
            <div class="grid-x grid-padding-x small-up-2 large-up-4 align-center text-center">
                <div class="cell">
                    <div class="os-animation" data-animation="bounceInLeft" data-delay=".2s">
                        <div class="skill">
                            <span class="fa-layers fa-4x">
                                <i class="fa fa-circle"></i>
                                <i class="fas fa-file-code fa-inverse" data-fa-transform="shrink-7 right-.2 up-.2"></i>
                            </span>
                            <h3><span class="counter">8</span></h3>
                            <h4 class="h6">Coding HTML5</h4>
                        </div>
                    </div>
                </div>
                <div class="cell">
                    <div class="os-animation" data-animation="bounceInLeft">
                        <div class="skill">
                            <span class="fa-layers fa-4x">
                                <i class="fa fa-circle"></i>
                                <i class="fab fa-css3-alt fa-inverse" data-fa-transform="shrink-6 down-.09"></i>
                            </span>
                            <h3><span class="counter">8</span></h3>
                            <h4 class="h6">Coding CSS3</h4>
                        </div>
                    </div>
                </div>
                <div class="cell">
                    <div class="os-animation" data-animation="bounceInRight">
                        <div class="skill">
                            <span class="fa-layers fa-4x">
                                <i class="fa fa-circle"></i>
                                <i class="fas fa-magic fa-inverse" data-fa-transform="shrink-7"></i>
                            </span>
                            <h3><span class="counter">10</span></h3>
                            <h4 class="h6">Working in Adobe Photoshop</h4>
                        </div>
                    </div>
                </div>
                <div class="cell">
                    <div class="os-animation" data-animation="bounceInRight" data-delay=".2s">
                        <div class="skill">
                            <span class="fa-layers fa-4x">
                                <i class="fa fa-circle"></i>
                                <i class="fas fa-bezier-curve fa-inverse" data-fa-transform="shrink-8 left-1.9"></i>
                            </span>
                            <h3><span class="counter">10</span></h3>
                            <h4 class="h6">Working in Adobe Illustrator</h4>
                        </div>
                    </div>
                </div>
                <div class="cell">
                    <div class="os-animation" data-animation="bounceInLeft" data-delay=".2s">
                        <div class="skill">
                            <span class="fa-layers fa-4x">
                                <i class="fa fa-circle"></i>
                                <i class="fab fa-sass fa-inverse" data-fa-transform="shrink-7 left-1.4 up-.1"></i>
                            </span>
                            <h3><span class="counter">8</span></h3>
                            <h4 class="h6">Coding SCSS</h4>
                        </div>
                    </div>
                </div>
                <div class="cell">
                    <div class="os-animation" data-animation="bounceInLeft">
                        <div class="skill">
                            <span class="fa-layers fa-4x">
                                <i class="fa fa-circle"></i>
                                <i class="fab fa-github fa-inverse" data-fa-transform="shrink-6 right-.05"></i>
                            </span>
                            <h3><span class="counter">7</span></h3>
                            <h4 class="h6">Using GIT for Source Control</h4>
                        </div>
                    </div>
                </div>
                <div class="cell">
                    <div class="os-animation" data-animation="bounceInRight">
                        <div class="skill">
                            <span class="fa-layers fa-4x">
                                <i class="fa fa-circle"></i>
                                <i class="fab fa-wordpress fa-inverse" data-fa-transform="shrink-5"></i>
                            </span>
                            <h3><span class="counter">7</span></h3>
                            <h4 class="h6">Coding WordPress</h4>
                        </div>
                    </div>
                </div>
                <div class="cell">
                    <div class="os-animation" data-animation="bounceInRight" data-delay=".2s">
                        <div class="skill">
                            <span class="fa-layers fa-4x">
                                <i class="fa fa-circle"></i>
                                <i class="fas fa-paper-plane fa-inverse" data-fa-transform="shrink-8 left-.6"></i>
                            </span>
                            <h3><span class="counter">5</span></h3>
                            <h4 class="h6">Coding for Email</h4>
                        </div>
                    </div>
                </div>
                <div class="cell">
                    <div class="os-animation" data-animation="bounceInLeft">
                        <div class="skill">
                            <span class="fa-layers fa-4x">
                                <i class="fa fa-circle"></i>
                                <i class="fab fa-grunt fa-inverse" data-fa-transform="shrink-5"></i>
                            </span>
                            <h3><span class="counter">5</span></h3>
                            <h4 class="h6">Coding Grunt Tasks</h4>
                        </div>
                    </div>
                </div>
                <div class="cell">
                    <div class="os-animation" data-animation="bounceInUp">
                        <div class="skill">
                            <span class="fa-layers fa-4x">
                                <i class="fa fa-circle"></i>
                                <i class="fab fa-gulp fa-inverse" data-fa-transform="shrink-5 left-.3"></i>
                            </span>
                            <h3><span class="counter">5</span></h3>
                            <h4 class="h6">Coding Gulp Tasks</h4>
                        </div>
                    </div>
                </div>
                <div class="cell">
                    <div class="os-animation" data-animation="bounceInRight">
                        <div class="skill">
                            <span class="fa-layers fa-4x">
                                <i class="fa fa-circle"></i>
                                <i class="fab fa-js-square fa-inverse" data-fa-transform="shrink-7"></i>
                            </span>
                            <h3><span class="counter">5</span></h3>
                            <h4 class="h6">Coding Javascript</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>