<form id="contact-form" method="POST" action="contact.php" data-abide novalidate>
    <div class="messages"></div>
    <div data-abide-error class="alert callout" aria-live="assertive"
        style="display: none;">
        <p><i class="fas fa-exclamation-circle"></i> There are some errors in your form.</p>
    </div>
    <div class="controls">
        <div class="form-group">
            <label class="form-control">Your Name:
                <input id="form_name" type="text" name="name" placeholder="Enter your name."
                    aria-errormessage="nameError" required="required">
                <span class="form-error" id="nameError">
                    Did you forget your name?
                </span>
            </label>
        </div>
        <div class="form-group">
            <label class="form-control">Email Address:
                <input id="form_email" type="email" name="email"
                    placeholder="Enter your email addresss." aria-errormessage="emailError"
                    required="required">
                <span class="form-error" id="emailError">
                    Hey! I need a valid email address.
                </span>
            </label>
        </div>
        <div class="form-group">
            <label class="form-control">Message:
                <textarea id="form_message" name="message" class="form-control"
                    placeholder="Add your message." rows="4"
                    aria-errormessage="messageError" required="required"></textarea>
                <span class="form-error" id="messageError">
                    Don't be shy. Type your message here.
                </span>
            </label>
        </div>
        <input type="submit" class="button primary" value="Send Message">
    </div>
</form>