<section id="features" data-magellan-target="features">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <div class="os-animation" data-animation="fadeInUp">
                    <h2 class="h2 text-center">Built With Care</h2>
                    <div class="heading-underline"></div>
                </div>
            </div>
        </div>
        <div class="grid-x grid-padding-x small-up-2 medium-up-3 align-center text-center">
            <div class="cell">
                <div class="os-animation" data-animation="fadeInLeft">
                    <div class="feature">
                        <h4 class="h4">HTML5</h4>
                        <span class="fa-layers fa-3x">
                            <i class="fas fa-code" data-fa-transform="left-2"></i>
                        </span>
                        <p>Built with the latest HTML5 markup for better, semanticly written code</p>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="os-animation" data-animation="fadeInUp">
                    <div class="feature">
                        <h4 class="h4">CSS3 / SCSS</h4>
                        <span class="fa-layers fa-3x">
                            <i class="fab fa-css3" data-fa-transform="left-5"></i>
                        </span>
                        <span class="fa-layers fa-3x">
                            <i class="fab fa-sass" data-fa-transform="right-4"></i>
                        </span>
                        <p>Uses a combination of SCSS and CSS3 to make it look pretty &amp; for cool effects</p>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="os-animation" data-animation="fadeInRight">
                    <div class="feature">
                        <h4 class="h4">JavaScript</h4>
                        <!-- <span class="fa-layers fa-3x">
                            <i class="fab fa-js"></i>
                        </span> -->
                        <span class="fa-layers fa-3x">
                            <i class="fas fa-square-full" data-fa-transform="shrink-2"></i>
                            <i class="fab fa-js"></i>
                        </span>
                        <p>Just a dash of JavaScript (ES6) to aid when HTML and CSS fall short</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>