<section id="hero" data-magellan-target="hero">
    <div class="hero-full-screen">
        <!-- Start Hero Text -->
        <div class="grid-container">
            <div class="grid-x">
                <div class="cell">
                    <div class="caption text-center">
                        <div class="os-animation" data-animation="fadeInUp">
                            <h1>Web Development &amp; Design Services</h1>
                            <h3>Specializing in small to medium sized businesses</h3>
                            <a href="#features" class="button large primary" data-smooth-scroll data-offset="40">Get
                                Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Hero Text -->
        <!-- Bouncing Down Arrow -->
        <a href="#lead" class="down-arrow" data-smooth-scroll data-offset="40">
            <div class="arrow bounce">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </div>
        </a>
    </div>
</section>