<!-- Lead Section -->
<section id="lead" data-magellan-target="lead">
    <div class="grid-x align-center">
        <div class="large-8 text-center cell">
            <div class="os-animation" data-animation="fadeInUp">
                <h2 class="h2">You work hard. Shouldn't your website work hard too?</h2>
                <p class="lead">If your website isn't mobile responsive, built on the latest technologies and frameworks
                    or is just plain out of date, let's talk and get it fixed.</p>
                <div class="button-group align-center">
                    <a class="button primary" href="#pricing" data-smooth-scroll data-offset="40">See Pricing</a>
                    <a class="button secondary" href="#contact" data-smooth-scroll data-offset="40">Get In Touch</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Lead Section -->