 <!-- Options Section -->
<section id="options" data-magellan-target="options">
    <div class="fixed-background">
        <div class="dark">
            <div class="grid-x">
                <div class="cell">
                    <div class="os-animation" data-animation="fadeInUp">
                        <h2 class="h2 text-center">Options</h2>
                        <div class="heading-underline"></div>
                    </div>
                </div>
            </div>
            <div class="grid-container">
                <div class="grid-x grid-padding-x small-up-2 large-up-4 align-center text-center">
                    <div class="cell">
                        <div class="os-animation" data-animation="bounceInLeft" data-delay=".2s">
                            <div class="feature">
                                <span class="fa-layers fa-4x">
                                    <i class="fa fa-circle"></i>
                                    <i class="fab fa-wordpress fa-inverse" data-fa-transform="shrink-4"></i>
                                </span>
                                <h4 class="h4">WordPress CMS</h4>
                                <p>Join the nearly 25 million other websites using WordPress as their Content Management
                                    System.</p>
                            </div>
                        </div>
                    </div>
                    <div class="cell">
                        <div class="os-animation" data-animation="bounceInLeft">
                            <div class="feature">
                                <span class="fa-layers fa-4x">
                                    <i class="fa fa-circle"></i>
                                    <i class="fas fa-shopping-cart fa-inverse" data-fa-transform="shrink-8 left-1"></i>
                                </span>
                                <h4 class="h4">Shopping Cart</h4>
                                <p>Need to integrate a shopping cart? WooCommerce is my choice for selling products on
                                    the internet.</p>
                            </div>
                        </div>
                    </div>
                    <div class="cell">
                        <div class="os-animation" data-animation="bounceInRight">
                            <div class="feature">
                                <span class="fa-layers fa-4x">
                                    <i class="fa fa-circle"></i>
                                    <i class="fas fa-sliders-h fa-inverse" data-fa-transform="shrink-8"></i>
                                </span>
                                <h4 class="h4">Image Slider</h4>
                                <p>We've all seen them. They're a great way to showcase products or photos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="cell">
                        <div class="os-animation" data-animation="bounceInRight" data-delay=".2s">
                            <div class="feature">
                                <span class="fa-layers fa-4x">
                                    <i class="fa fa-circle"></i>
                                    <i class="fab fa-wpforms fa-inverse" data-fa-transform="shrink-6"></i>
                                </span>
                                <h4 class="h4">Contact Form</h4>
                                <p>A staple of just about any website. Clients and customers expect to be able to send
                                    you a message.</p>
                            </div>
                        </div>
                    </div>
                    <div class="cell">
                        <div class="os-animation" data-animation="bounceInLeft" data-delay=".2s">
                            <div class="feature">
                                <span class="fa-layers fa-4x">
                                    <i class="fa fa-circle"></i>
                                    <i class="fas fa-play fa-inverse" data-fa-transform="shrink-8 right-1"></i>
                                </span>
                                <h4 class="h4">Custom Animation</h4>
                                <p>For adding some visual interaction to important elements on your pages...without
                                    going overboard.</p>
                            </div>
                        </div>
                    </div>
                    <div class="cell">
                        <div class="os-animation" data-animation="bounceInLeft">
                            <div class="feature">
                                <span class="fa-layers fa-4x">
                                    <i class="fa fa-circle"></i>
                                    <i class="fas fa-angle-down fa-inverse" data-fa-transform="shrink-2 down-.5"></i>
                                </span>
                                <h4 class="h4">Expanders</h4>
                                <p>Sometimes referred to as an accordion. Used to hide large amounts of content such as
                                    Q&amp;A's.</p>
                            </div>
                        </div>
                    </div>
                    <div class="cell">
                        <div class="os-animation" data-animation="bounceInRight">
                            <div class="feature">
                                <span class="fa-layers fa-4x">
                                    <i class="fa fa-circle"></i>
                                    <i class="fas fa-font fa-inverse" data-fa-transform="shrink-6 up-.5"></i>
                                </span>
                                <h4 class="h4">Google Fonts</h4>
                                <p>Don't let the browser choose your font-family. Google Fonts has an exceptional
                                    library from which to choose.</p>
                            </div>
                        </div>
                    </div>
                    <div class="cell">
                        <div class="os-animation" data-animation="bounceInRight" data-delay=".2s">
                            <div class="feature">
                                <span class="fa-layers fa-4x">
                                    <i class="fa fa-circle"></i>
                                    <i class="fas fa-bars fa-inverse" data-fa-transform="shrink-9"></i>
                                </span>
                                <h4 class="h4">Mobile Responsive</h4>
                                <p>Not an option. I won't code a website that isn't. Enough said. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fixed-wrap">
                    <div id="fixed">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Options Section -->