<section class="portfolio-page">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <div class="os-animation" data-animation="fadeInUp">
                    <h3 class="h3 text-center page-title">{{meta-title}}</h3>
                    <div class="heading-underline"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-container full">
        <div class="grid-x align-center small-up-2 medium-up-4 large-up-4">
            <div class="cell">
                <div class="os-animation" data-animation="bounceInLeft" data-delay=".2s">
                    <div class="portfolio-item">
                        <a href="{{root}}/assets/img/portfolio/1.png" data-lightbox="example-set"
                            data-title="my portfolio image description">
                            <img src="{{root}}/assets/img/portfolio/1.png" alt="" class="example-image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="os-animation" data-animation="bounceInLeft">
                    <div class="portfolio-item">
                        <a href="{{root}}/assets/img/portfolio/2.png" data-lightbox="example-set"
                            data-title="my portfolio image description">
                            <img src="{{root}}/assets/img/portfolio/2.png" alt="" class="example-image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="os-animation" data-animation="bounceInRight">
                    <div class="portfolio-item">
                        <a href="{{root}}/assets/img/portfolio/3.png" data-lightbox="example-set"
                            data-title="my portfolio image description">
                            <img src="{{root}}/assets/img/portfolio/3.png" alt="" class="example-image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="os-animation" data-animation="bounceInRight" data-delay=".2s">
                    <div class="portfolio-item">
                        <a href="{{root}}/assets/img/portfolio/4.png" data-lightbox="example-set"
                            data-title="my portfolio image description">
                            <img src="{{root}}/assets/img/portfolio/4.png" alt="" class="example-image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="os-animation" data-animation="bounceInLeft" data-delay=".2s">
                    <div class="portfolio-item">
                        <a href="{{root}}/assets/img/portfolio/5.png" data-lightbox="example-set"
                            data-title="my portfolio image description">
                            <img src="{{root}}/assets/img/portfolio/5.png" alt="" class="example-image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="os-animation" data-animation="bounceInLeft">
                    <div class="portfolio-item">
                        <a href="{{root}}/assets/img/portfolio/6.png" data-lightbox="example-set"
                            data-title="my portfolio image description">
                            <img src="{{root}}/assets/img/portfolio/6.png" alt="" class="example-image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="os-animation" data-animation="bounceInRight">
                    <div class="portfolio-item">
                        <a href="{{root}}/assets/img/portfolio/7.png" data-lightbox="example-set"
                            data-title="my portfolio image description">
                            <img src="{{root}}/assets/img/portfolio/7.png" alt="" class="example-image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="os-animation" data-animation="bounceInRight" data-delay=".2s">
                    <div class="portfolio-item">
                        <a href="{{root}}/assets/img/portfolio/8.png" data-lightbox="example-set"
                            data-title="my portfolio image description">
                            <img src="{{root}}/assets/img/portfolio/8.png" alt="" class="example-image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
</section>