<section id="pricing" data-magellan-target="pricing">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <div class="os-animation" data-animation="fadeInUp">
                    <h2 class="h2 text-center page-title">Pricing</h2>
                    <div class="heading-underline"></div>
                </div>
            </div>
        </div>
        <div class="grid-x grid-padding-x medium-up-3 align-center" data-equalizer>
            <div class="cell">
                <div class="os-animation" data-animation="fadeInLeft">
                    <div class="card" data-equalizer-watch>
                        <img src="{{root}}/assets/img/background-communication-cup.jpg">
                        <div class="card-section text-center">
                            <h4 class="h4">Basic</h4>
                            <h5 class="h6 price">Starting at <span>$</span>800</h5>
                            <a href="{{root}}/pricing/basic-pricing.html" class="primary button">Get Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="os-animation" data-animation="fadeInUp">
                    <div class="card" data-equalizer-watch>
                        <img src="{{root}}/assets/img/computer-contemporary-display.jpg">
                        <div class="card-section text-center">
                            <h4 class="h4">Pro</h4>
                            <h5 class="h6 price">Starting at <span>$</span>1,800</h5>
                            <a href="{{root}}/pricing/pro-pricing.html" class="primary button">Get Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="os-animation" data-animation="fadeInRight">
                    <div class="card" data-equalizer-watch>
                        <img src="{{root}}/assets/img/apple-computer-design.jpg">
                        <div class="card-section text-center">
                            <h4 class="h4">Premium</h4>
                            <h5 class="h6 price"><a href="#contact" data-smooth-scroll data-offset="40">Contact for
                                    Pricing</a></h5>
                            <a href="{{root}}/pricing/premium-pricing.html" class="primary button">Get Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-x">
            <div class="cell">
                <div class="os-animation" data-animation="fadeInUp">
                    <div class="callout">
                        <h5 class="h4">Contractor Services</h5>
                        <p>Occasionally I take on contracting projects depending on my workload. If you or
                            your team needs some extra fingers on a keyboard, contact me for pricing and availability.
                        </p>
                        <a href="#contact" class="button secondary" data-smooth-scroll data-offset="88">Contact Me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>