<section class="primary-nav {{nav-class}}">
    <div class="grid-x grid-margin-x">
        <div class="small-8 medium-9 large-4 cell">
            <a href="/" class="logo" data-smooth-scroll><img src="{{root}}/assets/img/UD_logo.png"
                    alt="unstuffed design logo"></a>
        </div>
        <div class="small-4 medium-3 hide-for-large cell hamburger-button">
            <span class="hamburger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </span>
        </div>
        <div class="large-auto cell">
            <ul class="menu collapse vertical large-horizontal" data-smooth-scroll data-magellan data-offset="40">
                {{#ifpage 'index'}}
                <li><a href="#features">features</a></li>
                <li><a href="#options">options</a></li>
                <li><a href="#pricing">pricing</a></li>
                <li><a href="#testimonials">testimonials</a></li>
                <li><a href="#contact">contact</a></li>
                {{/ifpage }}
                {{#unlesspage 'index'}}
                <li><a href="/#features">features</a></li>
                <li><a href="/#options">options</a></li>
                <li><a href="/#pricing">pricing</a></li>
                <li><a href="/#testimonials">testimonials</a></li>
                <li><a href="/#contact">contact</a></li>
                {{/unlesspage }}
            </ul>
        </div>
    </div>
</section>