<section class="resume-page">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-padding-x">
            <div class="cell">
                <div class="resume">
                    {{> animated-title-and-underline}}
                    <div class="os-animation" data-animation="fadeInUp">
                        <p>As a Front End Web Developer for Dominion Energy
                            South East, a large utility (electric and gas)
                            in the
                            interactive marketing department, the web team is in the process of overhauling and
                            deploying
                            our public facing
                            websites plus the company's SharePoint intranet site. Each redesign includes stages of
                            research
                            & development,
                            creative sprints, wire framing, coding, user testing, and deployment.</p>
                        <p>As a result of working in these small groups consisting of internal stakeholders from various
                            departments, UX
                            team members, and an outside design firm, I’ve gained valuable insight on how to effectively
                            interact with those
                            who have differing departmental goals, how design choices affect usability, and how we, as
                            developers, can take
                            those ideas and semantically code web pages.</p>
                        <h2 class="h4">WORK HISTORY</h2>
                        <h3 class="h5">DOMINION ENERGY SOUTH EAST</h3>
                        <p><strong>Front End Web Developer 2013-Present</strong></p>
                        <ul>
                            <li>Interpret static .psd or Axure files and convert them into HTML pages</li>
                            <li>Style re-useable blocks of CSS code using SCSS</li>
                            <li>Create and maintain living HTML / CSS style guides for the team to use when building
                                pages
                            </li>
                            <li>Mobile first responsive web development using Foundation Framework</li>
                            <li>Project setup and creation of templates and reusable layouts for the team to use</li>
                            <li>Intermediate use and knowledge of Javascript and jQuery</li>
                            <li>Grunt / Gulp for automating repetitive tasks and builds</li>
                            <li>Cross-browser testing and debugging</li>
                        </ul>
                        <h3 class="h5">UNSTUFFED DESIGN, LLC</h3>
                        <p><strong>Owner, Graphic / Web Designer & Developer 2010-Present</strong></p>
                        <ul>
                            <li>Create custom graphics for print and web using Adobe applications</li>
                            <li>Hand code HTML and CSS to W3C standards</li>
                            <li>Convert HTML and CSS mark-up into &lt;?php&gt; files for use in Content Management
                                System
                                such as WordPress
                            </li>
                            <li>Work directly with clients to gather information and implement their ideas and goals
                                into
                                cohesive, well
                                thought out designs that best suit their needs</li>
                        </ul>
                        <h3 class="h5">MICHAEL BAKER INTERNATIONAL</h3>
                        <p><strong>Senior Graphic Designer 2000−2013</strong></p>
                        <ul>
                            <li>Senior Graphic Designer for a nationally ranked transportation consulting firm with 23
                                offices throughout
                                the United States</li>
                            <li>Maintain corporate identity of the company through the use of typography and color
                                combinations for
                                proposals, presentations, brochures and television advertisements</li>
                            <li>Develop visuals for bids on multi-million dollar road, airport and architectural
                                projects
                                throughout the
                                United States
                            </li>
                        </ul>
                        <hr>
                        <h2 class="h4">SOFTWARE</h2>
                        <p>Visual Studio Code, Telerik Sitefinity CMS, Foundation 6 Framework, HTML5, CSS3, SCSS, Grunt,
                            Gulp, JavaScript
                            and jQuery, Adobe products such as Photoshop and Illustrator, WordPress, and Salesforce
                            email
                            marketing (large
                            email campaigns).</p>
                        <hr>
                        <h2 class="h4">EDUCATION</h2>
                        <p>Bachelor of Science in Journalism (Graphics Sequence) from Ball State University, Muncie,
                            Indiana. The Graphics
                            Sequence at BSU was structured with an emphasis on newspaper/magazine design, copyediting,
                            and
                            journalistic
                            writing.</p>
                        <hr>
                        <h2 class="h4">PORTFOLIO</h2>
                        <ul>
                            <li><a href="https://www.scanaenergy.com" target="_blank">https://www.scanaenergy.com</a>
                            </li>
                            <li><a href="https://www.dominionenergysc.com"
                                    target="_blank">https://www.dominionenergysc.com</a></li>
                            <li><a href="https://www.dominionenergync.com"
                                    target="_blank">https://www.dominionenergync.com</a></li>
                            <li><a href="https://www.scanafamily.com" target="_blank">https://www.scanafamily.com</a>
                            </li>
                            <li><a href="https://github.com/jasonkendall"
                                    target="_blank">https://github.com/jasonkendall</a></li>
                        </ul>
                        <hr>
                        <h2 class="h4">REFERENCES</h2>
                        <p>Upon Request</p>
                    </div>
                </div>
                <p class="text-right"><a href="{{root}}/assets/docs/resume/jasonkendall-webDeveloper.pdf"
                        class="button primary os-animation" data-animation="bounce" target="_blank">Download Resume</a>
                </p>
            </div>
        </div>
    </div>
</section>