<section id="testimonials" data-magellan-target="testimonials">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <div class="os-animation" data-animation="fadeInUp">
                    <h2 class="h2 text-center">Testimonials</h2>
                    <div class="heading-underline"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="os-animation" data-animation="fadeInUp">
        <div id="testimonial-slider" class="owl-carousel owl-theme">
            <div class="item">
                <div class="grid-x">
                    <div class="cell small-4">
                        <img src="{{root}}/assets/img/foxden_logo.jpg" alt="Foxden Logo">
                    </div>
                    <div class="cell small-8">
                        <blockquote>
                            <i class="fas fa-quote-left"></i>
                            Unstuffed Design has been covering the graphic design needs of my company for approximately
                            12 years. He has always been quick to interpret the design requests and the results have
                            always exceeded my expectations. Because of his vast knowledge and technical skills, he is
                            now developing our ecommerce website.
                            <hr class="hr-clients">
                            <cite>&#8212; Foxden, LTD</cite>
                        </blockquote>

                    </div>
                </div>
            </div>
            <div class="item">
                <div class="grid-x">
                    <div class="cell small-4">
                        <img src="{{root}}/assets/img/ARC_Rentals_logo.jpg" alt="">
                    </div>
                    <div class="cell small-8">
                        <blockquote>
                            <i class="fas fa-quote-left"></i>
                            Unstuffed Design is my go to resource for all my web site needs. They designed my company's
                            original web site and since
                            then have helped me with numerous enhancements over the years that I feel have helped to
                            keep my business competitive
                            and profitable. I highly recommend this company to all those seeking web based solutions to
                            keep them on step ahead of
                            their competition.
                            <hr class="hr-clients">
                            <cite>&#8212; ARC Rentals Company</cite>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="grid-x">
                    <div class="cell small-4">
                        <img src="{{root}}/assets/img/foxden_logo.jpg" alt="Foxden Logo">
                    </div>
                    <div class="cell small-8">
                        <blockquote>
                            <i class="fas fa-quote-left"></i>
                            I feel that Unstuffed Design stays abreast of the latest
                            technologies and uses them for developing, designing and advising me as we proceed forward
                            with our site. He has always provided me with a sense of trust which I feel is most
                            important. Not only is he straight forward with the costs involved, he also is quick to make
                            recommendations that help reduce the cost.
                            <hr class="hr-clients">
                            <cite>&#8212; Foxden, LTD</cite>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>