<section id="testimonials" data-magellan-target="testimonials">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <div class="os-animation" data-animation="fadeInUp">
                    <h3 class="h3 text-center">Testimonials</h3>
                    <div class="heading-underline"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="os-animation" data-animation="fadeInUp">
        <div id="testimonial-slider" class="owl-carousel owl-theme">
            <div class="item">
                <div class="grid-x">
                    <div class="cell small-4">
                        <img src="{{root}}/assets/img/ARC_Rentals_logo.jpg" alt="">
                    </div>
                    <div class="cell small-8">
                        <blockquote>
                            <i class="fas fa-quote-left"></i>
                            This theme is fantastic! It has all of the great website elements found
                            throughout professional templates. I've learned a lot through developing and
                            designing it while adding my own touches to the design.
                            <hr class="hr-clients">
                            <cite>&#8212; Reese, ARC Rentals</cite>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="grid-x">
                    <div class="cell small-4">
                        <img src="{{root}}/assets/img/foxden_logo.jpg" alt="Foxden Logo">
                    </div>
                    <div class="cell small-8">
                        <blockquote>
                            <i class="fas fa-quote-left"></i>
                            This theme is fantastic! It has all of the great website elements found
                            throughout professional templates. I've learned a lot through developing and
                            designing it while adding my own touches to the design.
                            <hr class="hr-clients">
                            <cite>&#8212; Anne, Foxden, LTD</cite>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="grid-x">
                    <div class="cell small-4">
                        <img src="https://www.placehold.it/300x300" alt="">
                    </div>
                    <div class="cell small-8">
                        <blockquote>
                            <i class="fas fa-quote-left"></i>
                            This theme is fantastic! It has all of the great website elements found
                            throughout professional templates. I've learned a lot through developing and
                            designing it while adding my own touches to the design.
                            <hr class="hr-clients">
                            <cite>&#8212; Frank, Large Sized Business Owner</cite>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>